<br><br>
  <div class= "container center" >
  <div class="card" style="width: 40rem;">
    <div class="card-header" >
      Information Sur le Bien Immobilier   
    </div>
    <ul class="list-group list-group-flush">
   
    <li class="list-group-item">Description de Bien mmobilier : {{cntr.description}}</li>
      <li class="list-group-item">Location de Bien Immobilier : {{cntr.local}}</li>
      <li class="list-group-item">La date de vende : {{cntr.date}}</li>
      <li class="list-group-item">Titre : {{cntr.titre}}</li>
      <li class="list-group-item">Prix : {{cntr.price}}  (eth)</li>
      <li class="list-group-item">Acteurs de Contrat : <ul *ngFor="let act of cntr.acteurs"><li>{{act.type}} :</li> <li>Nom: {{act.nom}}</li> <li>Addresse: {{act.address}}</li> </ul></li>
    
    
 
     
    </ul>
  </div>
</div>
