


	<section id="banner">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="assets/img/slides/2.png" alt="" />
                <div class="flex-caption">
                    <h1 style="color:rgb(255, 255, 255);">VILLAS DE LUXE</h1>  
					 
                </div>
              </li>
              <li>
                <img src="assets/img/slides/1.png" alt="" />
                <div class="flex-caption">
                    <h1 style="color:rgb(255, 255, 255);">VILLAS DE LUXE</h1>  
					 
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
 
	</section> 
 
	
	<section id="content">
	<div class="container"> 
			<div class="row">
		<div class="skill-home"> <div class="skill-home-solid clearfix"> 
		<div class="col-md-3 col-sm-6 text-center">
		<span class="icons c1"><i class="fa fa-home"></i></span> <div class="box-area">
		<h3>IMMOBILIER RÉSIDENTIEL</h3> <p>Un vaste choix de biens résidentiels en vente et en location:
			Appartements, villas, maisons.</p></div>
		</div>
		<div class="col-md-3 col-sm-6 text-center"> 
		<span class="icons c2"><i class="fas fa-building"></i></span> <div class="box-area">
			
		<h3>IMMOBILIER PROFESSIONNEL</h3> <p>Un vaste choix de biens commerciaux en vente et en location à Tanger :
			Bureaux, magasins, usines, locaux commerciaux</p></div>
		</div>
		<div class="col-md-3 col-sm-6 text-center"> 
		<span class="icons c3"><i class="fas fa-warehouse"></i></span> <div class="box-area">
		<h3>Entreprises</h3> <p>Dépot selon vos besoins</p></div>
		</div>
		<div class="col-md-3 col-sm-6 text-center"> 
		<span class="icons c4"><i class="fas fa-city"></i></span> <div class="box-area">
		<h3>Complexe résidentiel</h3> <p>Terrains de différent tailles pour construire vos projets</p>
		</div></div>
		</div></div>
		</div> 
	  
	</div>
	
	<section class="section-padding noTopMrgn">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span class="coloured">Meilleurs</span> Ventes</h2>
						
					</div>
				</div>
			</div>
			<div class="row service-v1 margin-bottom-40">
            <div class="col-sm-3 md-margin-bottom-40">
               <img class="img-responsive" src="assets/img/img1.jpg" alt="">   
                <h3>Apartments</h3>
                
            </div>
            <div class="col-sm-3 md-margin-bottom-40">
                <img class="img-responsive" src="assets/img/img2.jpg" alt="">            
                <h3>luxury Villas</h3>
                          
            </div>
            <div class="col-sm-3 md-margin-bottom-40">
              <img class="img-responsive" src="assets/img/img3.jpg" alt="">  
                <h3>Gated Projects</h3>
                
            </div> 
			    <div class="col-sm-3 md-margin-bottom-40">
               <img class="img-responsive" src="assets/img/img4.jpg" alt="">   
                <h3>Apartments</h3>
               
            </div> 
        </div>
		</div>
		</section>
	
	
	</section>
	
		<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span class="coloured">Bien Immobilier</span> récent</h2>
						
					</div>
				</div>
			</div>
			<div class="row service-v1 margin-bottom-40">
            <div class="col-sm-4 md-margin-bottom-40">
               <img class="img-responsive" src="assets/img/img10.jpg" alt="">   
                <h3>Apartments</h3>
                <h4>Vous trouvez les apartements de vos rêves !</h4>   
            </div>
            <div class="col-sm-4 md-margin-bottom-40">
                <img class="img-responsive" src="assets/img/img6.jpg" alt="">            
                <h3>luxury Villas</h3>
                <h4>Vivez le confort </h4>        
            </div>
            <div class="col-sm-4 md-margin-bottom-40">
              <img class="img-responsive" src="assets/img/img7.jpg" alt="">  
                <h3>Gated Projects</h3>
                <h4>Découvrez les nouveaux projets immobilier au Maroc</h4>        
            </div>
			</div>
			<div class="row service-v1 margin-bottom-40">
			    <div class="col-sm-4 md-margin-bottom-40">
                       
            </div>
            
        </div>
		</div>
		</section>
		<section class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2><span class="coloured">TANGER</span> IMMOBILIER</h2>
						
					</div>
				</div>
			</div>
			 
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
						<h2>Nous assurons à nos clients</h2>

						<ul class="withArrow">
							<li><i class="fas fa-chevron-circle-right"></i> <h4>Responsabilité pour la mauvaise réalisation d'un acte juridique</h4></li>
							<li><i class="fas fa-chevron-circle-right"></i><h4>La commission d'un délit ou d'un quasi-délit dans l'exercice de notre mission</h4></li>
							<li><i class="fas fa-chevron-circle-right"></i> <h4>Le dépassement de pouvoir</h4></li>
							
						</ul>
						
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-image">
						<img src="assets/img/about.jpg" alt="About Images">
					</div>
				</div>
			</div>
		</div>
	</section>	  
	
				
					


