
form
{
    display: block !important;
    text-align: center !important;
    display: inline-block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: left !important;
}

