<div class="container">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">email</th>
          <th scope="col">supprimer</th>
        </tr>
      </thead>
      <tbody>
     
        <tr *ngFor="let user of users">
          
          <td> {{user.username}}</td>
          <td> {{user.email}}</td>
          
         <td> <button class="btn btn-danger"  (click)="supprime(user.id)" >Supprimer</button></td>
        </tr>
       
      </tbody>
    </table>
    </div>
   