.dd{
    margin-left:20px;
    
}
h1{
    color: #1b2f36;
    font-size: 3rem;
}

h2{
    color:#9c9b9b;
}

.getquote{
    border: none;
    background-color: #ececec;
    height: 50px;
    width: 300px;
    padding: 15px;
    margin-right: 20px;
    border-radius: 8px;
}

.getquotebtn{
    border: none;
    background-color: 	#00a2ff;
    height: 50px;
    padding: 15px;
    margin-right: 20px;
    border-radius: 8px;
    color:white;
    font-weight: 900;
}

.options-primary{
    height: 20vh;
    background-color: #00a2ff;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.options-secondary{
    height: 20vh;
    background-color: #ececec;
    font-size: 20px;
    color: #00a2ff;
    font-weight: bold;
}