<div class="row d-flex justify-content-center dd" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center p-0 align-items-center flex-column">
        <h1><b>Espace ADMIN</b></h1>
        <h2>Gestion des clients et contrats</h2>
        <br>
        <div class="">
            <!-- <input class="getquote" type="text" placeholder="Parking Slot"> -->
            <!-- <button class="getquotebtn" href="/login" routerLink="login" >Se Connecter</button> -->
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img  src="assets/img/home.png" alt="">
        
        </div>
    </div>
</div>
<br> <br> <br>
