
<br><br>
<a href="/admin" class="btn btn-primary" >Ajouter Annonce</a>

<br><br>

  <table class="table">
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Price</th>
          <th scope="col">Acteurs de Contrat</th>
        
          
          <th scope="col">description de Bien immobilier</th>
          <th scope="col">Location de Bien immobilier</th>
          <th scope="col">La date de création de Contrat</th>
          <th scope="col">crée par</th>
   
          <th scope="col">Supprimer le contrat</th>
        </tr>
      </thead>
      <tbody>
     
        <tr *ngFor="let bienIm of listBienIm">
        
          <td> {{bienIm.titre}}</td>
          <td> {{bienIm.price}}</td>
          <td > <ul *ngFor="let act of bienIm.acteurs"><li>{{act.type}} :</li> <li>Nom: {{act.nom}}</li> <li>Addresse: {{act.address}}</li> </ul></td>
         

          <td> {{bienIm.description}}</td>
          <td> {{bienIm.local}}</td>
          <td> {{bienIm.date}}</td>
          <td> {{bienIm.user.username}}</td>
     
          <td>     <button class="btn btn-danger" (click)="Supprimer(bienIm.titre)">Supprimer</button></td>
        </tr>
       
      </tbody>
    </table>

   



